/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* header section */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2D25A0 ;
    width: 1440px;
    height: 677px;
}
.half-width{
    width: 50%;
   padding-right: 140px;
   padding-left: 140px;
    
}
.half-width img{
    width: 556.01px;
    height: 438px;
}
.half-width h3{
    color: white;
    font-size: 40px;
    line-height: 10px;
    margin-bottom: 30px;
}

.live-telecast {
    color: white;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.right-arrow{
    margin-left: 5px;}

/* Banner image annimation */
.half-width img:hover{
    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5;
    transform: rotatey(180deg);
}

/* players album */

.album-section{
    display: flex;
    justify-content: center;
}

.photo-album{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    
}
.photo-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 15px;
}

.photo-details{
    padding-left: 15px;
}



.players-img img{
    width: 300px;
    height: 256px;
}


/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img{
    width: 483.87px;
    height: 110px;
}
span{
    margin-right: 10px;}
.copyright{
    margin-top: 10px;
}